.header {
  @include col;
  &__logo {
    width: 90px;
    height: 32px;
    background-color: aquamarine;
  }
  &__menu {
    margin: 40px 0;
  }

  h1 {
    margin: 5px 0 65px;
    @include font("Labil-Grotesk-Medium", 48, 227, 100%);
  }
  &__info {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    .header__contacts {
      p {
        margin: 0 0 10px;
        @include font("Labil-Grotesk-Medium", 20, 24, 130%);
      }
      adress {
        @include font("Labil-Grotesk-Regular", 14, 20, 140%);
      }
    }
    .header__personal-info {
      width: 30%;
      @include font("Labil-Grotesk-Regular", 14, 20, 140%);
    }
  }
}
