@font-face {
  font-family: "Acworth";
  src: url("/My_lovely_VERSTKA/brandNewGame/src/fonts/AcworthBold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil-Grotesk-Medium";
  src: url("../fonts/LabilGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil-Grotesk-Bold";
  src: url("../fonts/LabilGrotesk-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil-Grotesk-Regular";
  src: url("../fonts/LabilGrotesk-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
