$general-text-color: #ffffff;
$general-background-color: #000000;

/* Color Styles  */
// Black
$black-black-50: rgba(230, 230, 230, 1);
$black-black-100: rgba(176, 176, 176, 1);
$black-black-200: rgba(138, 138, 138, 1);
$black-black-300: rgba(36, 36, 36, 1);
$black-black-400: rgba(20, 20, 20, 1);
$black-black-500: rgba(0, 0, 0, 1);
$black-black-600: rgba(0, 0, 0, 1);
$black-black-700: rgba(0, 0, 0, 1);
$black-black-800: rgba(0, 0, 0, 1);
$black-black-900: rgba(0, 0, 0, 1);
// Grey
$grey-grey-50: rgba(249, 249, 249, 1);
$grey-grey-100: rgba(237, 237, 237, 1);
$grey-grey-200: rgba(228, 228, 228, 1);
$grey-grey-300: rgba(215, 215, 215, 1);
$grey-grey-400: rgba(208, 208, 208, 1);
$grey-grey-500: rgba(196, 196, 196, 1);
$grey-grey-600: rgba(178, 178, 178, 1);
$grey-grey-700: rgba(139, 139, 139, 1);
$grey-grey-800: rgba(108, 108, 108, 1);
$grey-grey-900: rgba(82, 82, 82, 1);
//White
$white-white-500: rgba(255, 255, 255, 1);
$white-white-600: rgba(232, 232, 232, 1);
$white-white-700: rgba(181, 181, 181, 1);
$white-white-800: rgba(140, 140, 140, 1);
$white-white-900: rgba(107, 107, 107, 1);
//Others
$others-green: rgba(41, 174, 41, 1);
$others-yellow: rgba(255, 198, 42, 1);
$others-red: rgba(237, 42, 42, 1);
$others-orange: rgba(237, 118, 21, 1);
$others-lavender: rgba(110, 60, 245, 1);
$others-sussie: rgba(56, 225, 241, 1);
$others-blue-jeans: rgba(0, 130, 255, 1);
